.container.labelsLeft {
  display: flex;
  flex-direction: row;
}

.container.labelsRight {
  display: flex;
  flex-direction: row;
}

.slider {
  background-color: #e6e6e6;
  width: 100%;
  height: 12px;
  position: relative;
}

.range {
  background-color: #38a1fd;
  height: 100%;
  position: absolute;
}

.range.draggable {
  cursor: pointer;
}

.handle {
  background-color: #393939;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.labelContainer.top {
  margin-bottom: 12px;
}

.labelContainer.bottom {
  margin-top: 12px;
}

.labelContainer.left {
  margin-right: 24px;
}

.labelContainer.right {
  margin-left: 24px;
}